@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h1>KaiCoin</h1>
        <ul>
            <li>The hottest Crytocurrency on the market!</li>
            <li>Register and create an account to get started!</li>
        </ul>
    </div>
</div>
